
{% extends "layout.html" %}

{% block pageTitle %}
  Would you also be willing to take a seperate antibody test?
{% endblock %}

{% block beforeContent%}
    {% include "includes/back.html" %}
{% endblock %}

{% block content %}

    
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Would you also be willing to take a seperate antibody test?        </h1>
        <p class="govuk-!-font-weight-bold">The antibody test will help the NHS learn more about who’s had the virus more than once, and how it was spread.</p>

        <h2 class="govuk-heading-m">What you need to know</h2>
        <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-1">
            <li>You will only be sent and antibody test if you test positive for coronavirus.</li>
            <li>You will recieve 2 antibody tests in the post 3 weeks apart to your home addresss.</li>
            <li>The antibody test is a ‘fingerprick’ blood test.</li>
            <li>You do the test on yourself at home (you can ask a friend or relative to help).</li>
            <li>The completed antibody tests have to be posted back. You can leave home to post a test kit while self-isolating.</li>
        </ul>
      
        {{ govukDetails({
            summaryText: "Video: How to collect your blood sample",
            text: ""
        }) }}

        {{ govukDetails({
            summaryText: "Video transcript: What is a ‘fingerprice’ test",
            text: ""
        }) }}


        <form method="post" action="" >

            {{ govukRadios({
                idPrefix: "where-do-you-live",
                name: "where-do-you-live",
                fieldset: {
                    legend: {
                    text: "Where do you live?",
                    isPageHeading: false,
                    classes: "govuk-visually-hidden"
                }
            },
            items: [
                { value: "england", text: "Yes, I am willing to do an antibody test" },
                { value: "scotland", text: "No, I am not willing to do an antibody test" }
            ]
            }) }}

            {{ govukWarningText({
                text: "By selecting Yes you confirm that you are OK doing a fingerprick blood test, and do not take anticoagulants (‘blood-thinning medicines’) or have a blood clotting disorder such as haemophilia.",
                iconFallbackText: "Warning"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        
        </form>

    </div>
  </div>

{% endblock %}
