This is a page of macros for placeholders for the research.


{# User details #}
{% macro userFullName() %}
Hugo Furst
{% endmacro%}

{% macro userDateOfBirth() %}
13 November 1985
{% endmacro%}

{% macro userNI() %}
NN172479C
{% endmacro%}

{% macro userEmailAddress() %}
user@testing.reporting.dhsc.gov.uk
{% endmacro%}