{% extends "layout.html" %}

{% set pageHeading = "Get a coronavirus test if you have an invite code" %}
{% set pageSection = "User research prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}        
        <p>Last updated: 20 May 2021</p>        
        <p>Descriptive information about the service to go here.</p>

        <form action="" method="post" >            
            {{ govukButton({
                text: "Start user test"            
            }) }}
        </form>        

    </div>
</div>

{% endblock %}