{% extends "layout.html" %}

{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}
 
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}

        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            {# {% if data['enter-order-id'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Test kit order ID</dt>
                <dd class="govuk-summary-list__value">{{ data['enter-order-id'] }}</dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="enter-order-id">Change<span class="govuk-visually-hidden"> order ID</span></a></dd>
            </div>
            {% endif %} #}
            {# {% if data['registering-test-kit'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Registering test kit for yourself</dt>
                <dd class="govuk-summary-list__value">{{ data['registering-test-kit'] }}</dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="registering-test-kit">Change<span class="govuk-visually-hidden"> who the kit is registed for</span></a></dd>
            </div>
            {% endif %} #}
            {% if data['first-name'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Name</dt>
                <dd class="govuk-summary-list__value">{{ data['first-name'] }} {{ data['last-name'] }}</dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="what-is-your-name?linkaction=change">Change<span class="govuk-visually-hidden"> name</span></a></dd>
            </div>
            {% endif %}
            {# <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last name</dt>
                <dd class="govuk-summary-list__value"></dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a></dd>
            </div> #}

            {% if data['barcode-number'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Barcode number</dt>
                <dd class="govuk-summary-list__value">{{ data['barcode-number'] }}</dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="test-kit-barcode?linkaction=change">Change<span class="govuk-visually-hidden"> barcode number</span></a></dd>
            </div>
            {% endif %}

            {% if data['barcode-number'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date of birth</dt>
                <dd class="govuk-summary-list__value">{{ data['dob-day'] }} {{ data['dob-month'] | toMonth }} {{ data['dob-year'] }}</dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="date-of-birth?linkaction=change">Change<span class="govuk-visually-hidden"> barcode number</span></a></dd>
            </div>
            {% endif %}


            {% if data['address-line-1'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address</dt>
                <dd class="govuk-summary-list__value">
                    {% if data['address-line-1'] %}{{ data['address-line-1'] }}{% endif %}
                    {% if data['address-line-2'] %}<br>{{ data['address-line-2'] }}{% endif %}
                    {% if data['address-town'] %}<br>{{ data['address-town'] }}{% endif %}
                    {% if data['address-county'] %}<br>{{ data['address-county'] }}{% endif %}
                    {% if data['address-postcode'] %}<br>{{ data['address-postcode']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="address?linkaction=change">Change<span class="govuk-visually-hidden"> address</span></a></dd>
            </div>
            {% endif %}
            {% if data['how-to-get-results'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">How to get results</dt>
                <dd class="govuk-summary-list__value">{{ data['how-to-get-results'] }}</dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="how-to-get-results?linkaction=change">Change<span class="govuk-visually-hidden"> how to get results</span></a></dd>
            </div>
            {% endif %}
            {% if data['how-to-get-results'] == "Email" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email address</dt>
                <dd class="govuk-summary-list__value">{{ data['email-address'] }}</dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="how-to-get-results?linkaction=change">Change<span class="govuk-visually-hidden"> email address</span></a></dd>
            </div>
            {% elif data['how-to-get-results'] == "Text message" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Phone number</dt>
                <dd class="govuk-summary-list__value">{{ data['phone-number'] }}</dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="how-to-get-results?linkaction=change">Change<span class="govuk-visually-hidden"> phone number</span></a></dd>
            </div>
            {% endif %}
        </dl>      

        <h2 class="govuk-heading-m">Now send your information</h2>
        <p class="govuk-body">By sending this information, you confirm that as far as you know, the information you entered is correct.</p>


        <form method="post" action="confirmation" >                  
            {{ govukButton({
                text: "Confirm and send"
            }) }}
        </form>

    </div>
</div>

{% endblock %}