{% extends "layout.html" %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}

<div class="pseudo-bg"></div>
<div class="pseudo-template">
            
	<p class="govuk-!-font-weight-bold">Question 3 of 6</p>
	{% if data['register-for'] == "No" %}
		<p>What is the barcode number on their test kit? Example: CHE00000501</p>
	{% else %}
		<p>What is the barcode number on your test kit? Example: CHE00000501</p>
	{% endif %}
	<p>This is different to the barcode on the pre-paid Royal Mail sticker.</p>

	<form method="post" action="address">
		<div class="govuk-form-group">
			<input class="govuk-input" id="barcode" name="barcode"  type="text">
		</div>		
		{{ govukButton({
			text: "Send"        
		}) }}	
	</form>
	      
</div>

{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
