{% extends "layout.html" %}

{% set pageHeading = "Tell us why you took this test" %}
{% set pageSection = "Prototype" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds-from-desktop">

			{{ macroPageHeader.pageHeader(pageHeading, pageSection) }}
			
			<form method="post" action="test-reason-continued" >

				{{ govukRadios({					
					idPrefix: "test-reason-continued",
					name: "test-reason-continued",
					fieldset: {
						legend: {
							text: "Tell us why you took the test (continued)",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
					  	}
					},					
					items: [
					  { value: "school, redirect(institution-lookup)", text: "To go to school, college or university",  checked: checked("test-reason-continued", "school") },
					  { value: "school-household, redirect(institution-lookup)", text: "Someone in the household goes to school or college",  checked: checked("test-reason-continued", "school-household") },
					  { value: "support bubble, redirect(institution-lookup)", text: "As someone in a support or childcare bubble of a student",  checked: checked("test-reason-continued", "support bubble") },
					  { value: "foster-carer, redirect(test-date)", text: "As a foster carer",  checked: checked("test-reason-continued", "foster-carer") },
					  { divider: "or" },
					  { value: "another reason", text: "Another reason",  checked: checked("test-reason-continued", "another reason") }
					]
				}) }}



				{{ govukButton({
					text: "Continue"				
				}) }}

			</form>
            
  		</div>
	</div>    

{% endblock %}
