{% extends "layout.html" %}

{% set pageHeading = "Can you provide your NHS number?" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds-from-desktop">

			{{ macroPageHeader.pageHeader(pageHeading, pageSection) }}
			
			<p>This number helps us quickly save your test result to your NHS COVID Pass.</p>
			<p>In England, you may be asked to show this pass to get into some events, or to travel abroad.</p>
			
			{{ govukWarningText({
				text: "Not providing your NHS number could cause delays if you wish to attend certain events",
				iconFallbackText: "Warning"
			  }) }}


			<p><a href="https://www.nhs.uk/nhs-services/online-services/find-nhs-number/">Look up your NHS number</a></p>

			<p class="govuk-!-font-weight-bold">It’s OK if you do not have it, you can still continue.</p>


			<form method="post" action="email" >
				

				{{ govukRadios({					
					idPrefix: "provide-nhs-number",
					name: "provide-nhs-number",
					fieldset: {
						legend: {
							text: "Tell us why you took the test (continued)",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
					  	}
					},					
					items: [
					  { value: "Yes, redirect(nhs-number)", text: "Yes, I can provide the NHS number",  checked: checked("provide-nhs-number", "Yes") },
					  { value: "No", text: "No, I cannot provide the NHS number",  checked: checked("provide-nhs-number", "No") }					  
					]
				}) }}


			       

			<h2 class="govuk-heading-l">What it looks like</h2>
			<p>It’s 10 digits long, and usually on prescriptions or a hospital or GP letter.</p>
			<p>In Scotland, it’s known as a CHI number. In Northern Ireland, it’s known as an H&C number.</p>

			{{ govukButton({
				text: "Continue"				
			}) }}

		</form> 

  		</div>
	</div>    

{% endblock %}
